.App {
  text-align: center;
  min-height: 100vh;
  background-color: #121212;
  color: white;
  font-family: Montserrat;
}

#homePage h1 {
  margin: 0;
  padding: 20px 0;
}

h1 {
  color: #949494
}

h2 {
  color: #b4b3b3
}

p {
  color: #acaaaa
}

.contentHover:hover {
  transform: scale(1.05, 1.05)
}

.contentHover:active {
  transform: scale(0.95, 0.95)
}

.loadingMessage {
  margin: 0;
  padding: 20px 0; 
}

/* Search Bar */

#searchBarContainer {
  width: 30%;
  height: auto;
  margin: 0 auto;
}

#searchBarContainer form {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #353434;
}

#searchBar {
  flex: 4;
  height: 30px;
  padding: 0 10px;
  border: none;
  outline: none;
  background: none;
  color: #747474;
}

#searchBar::placeholder {
  color: rgb(82, 82, 82);
}

#submitButton {
  flex: 1;
  height: 30px;
  background-color: #353434;
  border: none;
  color: white;
  outline: none;
}

/* Display Movies */

#displayMovies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.posterContainer {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out
}

.poster {
  width: auto;
  height: 300px;
  margin: 0;
  background-color: #303030;
}

.noPosterText {
  width: 100%;
  height: 280px;
  background-color: #303030;
  margin: 0 auto;
  padding-top: 20px;
}

.poster img {
  width: auto;
  height: 100%;
}

.movieTitleContainer {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieTitle {
  padding: 0 20px;
  margin: 0;
}

/* Movie Details */

#movieDetailsContainer {
  min-height: 100vh;
}

#movieDetails {
  display: flex;
  justify-content: center;
}

#movieDetailsPoster {
  flex: 1;
  background-color: #303030;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#movieDetailsPoster h1 {
  width: 80%;
  margin: 0 auto;
  flex: 1;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#movieDetailsPoster figure {
  margin: 0;
  flex: 3;
}

#movieDetailsPoster figure img {
  height: 100%;
  width: auto;
}

#plotAndOtherDetailsContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#plotAndOtherDetails {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#ratingsContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  color: white;
}

#ratingsContainer div {
  width: 30%;
  height: 80%;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #303030;
}

.nameOfRater {
  width: 90%;
  margin: 0 auto;
}

.rating p:last-child {
  margin: 0;
}

#arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 10px;
}

#arrow {
  width: 5px;
  height: 5px;
  border: solid #525252;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#arrow, #arrowContainer p {
  cursor: pointer;
}

#actors {
  display: flex;
  flex-wrap: wrap;
}

.divided {
  padding: 0 20px;
}

.divided p {
  flex: 1;
  border-right: 2px solid #525252;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divided p:last-child {
  border-right: none;
}

#plot {
  width: 60%;
  margin: 0 auto;
}

#smallDetails {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

